/* put here your custom css styles */
/*****ICONS******/
.wp-svg-custom-Untitled-1-01{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-02{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-01-01{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-04 {
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-01-02{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-07{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-05{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-Untitled-1-01-03{
font-size: 8em !important;
color:#0e6a36 !important;
}
.wp-svg-custom-PS-1-08{
font-size: 8em !important;
color:#0e6a36 !important;
}